{% extends 'base.html' %}

{% block page_title %}
    {{room.name}}
{% endblock page_title %}

{% block content %}
   
    <div class="w-full h-50vh grid grid-cols-4 grid-rows-2 gap-0.5 bg-gray-500">
        <div class="bg-cover bg-center col-start-1 col-end-3 row-start-1 row-end-3" style="background-image:url({{room.get_first_photo}})"></div>

        {% for photo in room.get_next_four_photo %}
            <div class="bg-cover bg-center" style="background-image:url({{photo.file.url}})"></div>
        {% endfor %}
            
    </div>

   <div>
   
   
   </div>

{% endblock content %}


{% comment %} guests
beds
bedrooms
baths
check_in
check_out
instant_book
room_type {% endcomment %}