{% extends 'base.html' %}

{% block page_title %}
    {{room.name}}
{% endblock page_title %}

{% block content %}
    <div>
        <h1>{{room.name}}</h1>
        <h3>Host: <a href="{{room.host.get_absolute_url}}" class="link">{{room.host}}</a>
        {% if room.host.superhost %}
            (superhost)
        {% endif %}
        </h3>
        <h3>{{room.description}}</h3>
    </div>
    <div>
        <h5>Country</h5>
        <span>{{room.country.name}}</span>
    </div>
    <div>
        <h5>City</h5>
        <span>{{room.city}}</span>
    </div>
    <div>
        <h5>Address</h5>
        <span>{{room.address}}</span>
    </div>
    <div>
        <h5>Amenities</h5>
        <ul>
            {% for a in room.amenities.all %}
                <li>{{a}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h5>Facilites</h5>
        <ul>
            {% for f in room.facilities.all %}
                <li>{{f}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h5>House Rules</h5>
        <ul>
            {% for r in room.house_rules.all %}
                <li>{{r}}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}


{% comment %} guests
beds
bedrooms
baths
check_in
check_out
instant_book
room_type {% endcomment %}