{% extends 'base.html' %}

{% block page_title %}
    Update Room
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}
    
{% block content %}

    <div class="side-padding">

        <div class="border border-gray-300 py-10 flex flex-col items-center justify-center">

            {% include 'mixins/edit-data.html' with form=form cta="Update Room" %}

            <a href="{% url 'rooms:photos' room.pk %}" class="link mt-5">Edit Photos</a>
            
        </div>

    </div>

{% endblock content %}
