{% extends 'base.html' %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}
    
{% block content %}
    <h1>Search!</h1>

    <form action="{% url 'rooms:search' %}">
        <div>
            <label for="city">City</label>
            <input value="{{selected_city}}" type="text" name="city" id="city" placeholder="Search by City">
        </div>
        <div>
            <label for="country">Country</label>
            <select id="country" name="country">
                {% for country in countries %}
                    <option value="{{country.code}}" {% if country.code == selected_country %}selected{% endif %}>
                        {{country.name}}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="room_type">Room Type</label>
            <select id="room_type" name="room_type">
                <option value="0" {% if selected_room_type == 0 %}selected{% endif %}>
                    Any Kind
                </option>
                {% for room_type in room_types %}
                    <option value="{{room_type.pk}}" {% if room_type.pk == selected_room_type %}selected{% endif %}>
                        {{room_type.name}}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="price">Maximum Price</label>
            <input type="number" placeholder="Price" id="price" name="price" value="{{selected_price}}">
        </div>
        <div>
            <label for="guests">Mininum Guests</label>
            <input type="number" placeholder="Guests" id="guests" name="guests" value="{{selected_guests}}">
        </div>
        <div>
            <label for="beds">Mininum Beds</label>
            <input type="number" placeholder="Beds" id="beds" name="beds" value="{{selected_beds}}">
        </div>
        <div>
            <label for="bedrooms">Mininum Bedrooms</label>
            <input type="number" placeholder="Bedrooms" id="bedrooms" name="bedrooms" value="{{selected_bedrooms}}">
        </div>
        <div>
            <label for="baths">Mininum Baths</label>
            <input type="number" placeholder="Baths" id="baths" name="baths" value="{{selected_baths}}">
        </div>
        <div>
            <label for="instant_book">Instant Book Only</label>
            <input type="checkbox" id="instant_book" name="instant_book" {% if selected_instant_book %}checked{% endif %}>
        </div>
        <div>
            <label for="superhost">Super Host Only</label>
            <input type="checkbox" id="superhost" name="superhost" {% if selected_superhost %}checked{% endif %}>
        </div>
        <div>
            <h3>Amenity</h3>
            <ul>
                {% for a in amenities %}
                    <li>
                        <label for="amenity_{{a.pk}}">{{a.name}}</label>
                        <input type="checkbox" id="amenity_{{a.pk}}" value="{{a.pk}}" name="amenities" {% if a.pk|slugify in selected_amenities %}checked{% endif %}>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>Facility</h3>
            <ul>
                {% for f in facilities %}
                    <li>
                        <label for="facility_{{f.pk}}">{{f.name}}</label>
                        <input type="checkbox" id="facility_{{f.pk}}" value="{{f.pk}}" name="facilities" {% if f.pk|slugify in selected_facilities %}checked{% endif %}>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <button>Search</button>
    </form>
    <hr />
    <h2>Results</h2>
    <ul>
        {% for room in rooms %}
            <li>
                <a href="{% url 'rooms:detail' room.pk %}">{{room.name}}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock content %}
    