@tailwind base;
@tailwind components;
.btn {
  @apply px-5 py-2 w-full h-16 flex items-center justify-center font-bold;
}
.btn-link {
  @apply border-2 border-airbnb-pink text-airbnb-pink px-5 py-2 font-bold rounded-xl text-center;
}
.link {
  @apply text-airbnb-green font-bold underline;
}
.input {
  @apply text-gray-500 border-2 box-border px-5 py-2;
  input:not([type="checkbox"]) {
    @apply w-full h-12 flex items-center justify-center font-light text-sm;
    &:focus {
      @apply outline-none;
    }
  }
  textarea,
  select {
    @apply w-full h-full;
    &:focus {
      @apply outline-none;
    }
  }
  &:focus {
    @apply border-airbnb-green;
  }
}
.has_errors {
  input {
    @apply bg-red-700;
  }
}
@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(50px);
  }
  95% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.message {
  animation: messageFadeIn 5s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-blue-500;
  }
  &.success {
    @apply bg-green-500;
  }
  &.warning {
    @apply bg-yellow-400;
  }
}
.border-section {
  @apply pb-10 mb-10 border-b border-gray-300;
}
@tailwind utilities;
.side-padding {
  @apply px-20;
}
