{% load static %}
<!DOCTYPE html>
<html lang="en" class="min-h-full relative">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
    <title>{% block page_title %}{% endblock page_title %} | Nbnb</title>
</head>
<body>
    {% include 'partials/messages.html' %}

    {% include 'partials/header.html' %}
    
    <main class="mt-32 mb-60">
        {% block content %}
        {% endblock content %}
    </main>

    {% include 'partials/footer.html' %}
</body>
</html>