{% extends 'base.html' %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}
    
    {% for room in rooms %}
        <div>{{room.name}} / ${{room.price}}</div>
    {% endfor %}
        
    <h5>
    
    {% if page is not 1 %}
        <a href="?p={{page|add:-1}}">Previous</a>
    {% endif %}
        
    Page {{page}} of {{page_count}}
    
    {% if page is not page_count %}
        <a href="?p={{page|add:1}}">Next</a>
    {% endif %}
        
    </h5>


{% endblock content %}
