{% extends 'base.html' %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}

    <div class="w-full h-50vh bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1562516354-276afcce3e96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1426&q=80);"></div>
    
    <div class="container mx-auto grid grid-cols-4 gap-x-5 gap-y-10 side-padding mt-20">
        {% for room in rooms %}
            {% include 'partials/room_card.html' with room=room %}
        {% endfor %}
    </div>

    {% include 'partials/pagination.html' with page_obj=page_obj %}

{% endblock content %}
