{% extends 'base.html' %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}
    
    {% for room in rooms.object_list %}
        <div>{{room.name}} / ${{room.price}}</div>
    {% endfor %}
        
    <h5>
    
    {% if rooms.has_previous %}
        <a href="?p={{rooms.previous_page_number}}">Previous</a>
    {% endif %}
        
    {{rooms.number}} of {{rooms.paginator.num_pages}}
    
    {% if rooms.has_next %}
        <a href="?p={{rooms.next_page_number}}">Next</a>
    {% endif %}
        
    </h5>


{% endblock content %}
