{% extends 'base.html' %}

{% block page_title %}
    Log In
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}
    
{% block content %}

    <div class="side-padding">

        <div class="border border-gray-300 py-10 flex flex-col items-center justify-center">
        
            {% include 'partials/social_login.html' %}

            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button>Log In</button>
            </form>

        </div>
    
    </div>

{% endblock content %}
