{% extends 'base.html' %}

{% block page_title %}
    Log In
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}
    
{% block content %}

    <div class="side-padding">

        <div class="border border-gray-300 py-10 flex flex-col items-center justify-center">
        
            {% include 'partials/social_login.html' %}

            {% csrf_token %}

            {% include 'mixins/edit-data.html' with form=form cta="Log In" %}

            <div class="mt-5">
                <span>Don't have an account?</span>
                <a href="{% url 'users:signup' %}" class="link">Sign Up</a>
            </div>

        </div>
    
    </div>

{% endblock content %}
