{% extends 'base.html' %}

{% block page_title %}
    Log In
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}
    
{% block content %}

    <div class="side-padding">

        <div class="border border-gray-300 py-10 flex flex-col items-center justify-center">
        
            {% include 'partials/social_login.html' %}

            <form method="POST" class="w-72">
                {% csrf_token %}
                <input type="text" placeholder="Username" class="input-box mb-1">
                <input type="password" placeholder="Password" class="input-box">
                <button class="btn bg-airbnb-pink text-white mt-5">Log In</button>
            </form>

            <div class="mt-5">
                <span>Don't have an account?</span>
                <a href="{% url 'users:signup' %}" class="text-airbnb-green font-bold">Sign Up</a>
            </div>

        </div>
    
    </div>

{% endblock content %}
