{% extends 'base.html' %}

{% block page_title %}
    Sign Up
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}
    
{% block content %}

    <div class="side-padding">

        <div class="border border-gray-300 py-10 flex flex-col items-center justify-center">

            {% include 'partials/social_login.html' %}

            {% include 'mixins/edit-data.html' with form=form cta="Sign Up" %}

            <div class="mt-5">
                <span>Have an account?</span>
                <a href="{% url 'users:login' %}" class="link">Log In</a>
            </div>

        </div>

    </div>

{% endblock content %}
