{% extends 'base.html' %}

{% block page_title %}
    {{user_obj.username}}'s Profile
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}
    
{% block content %}

    <div class="side-padding">

        <div class="border border-gray-300 py-10 flex flex-col items-center justify-center">

            {% include 'mixins/profile-avatar.html' with user=user_obj width="w-28" height="h-28" size="text-5xl" %}
        
            <div class="flex items-center mt-4">
                <span class="text-3xl">{{user_obj.last_name}}, {{user_obj.first_name}}</span>
                {% if user_obj.superhost %}
                    <i class="fa-solid fa-circle-check text-airbnb-green ml-1"></i>
                {% endif %}
            </div>

            <div class="mt-3 text-gray-400 text-lg">{{user_obj.bio}}</div>
            
            {% if user == user_obj %}
                <a href="{% url 'users:update-profile' %}" class="btn-link mt-5">Edit Profile</a>
            {% endif %}

        </div>

        <div class="py-10 flex flex-col items-center justify-center">

            <h3 class="text-3xl">{{user_obj}}'s Rooms ({{user_obj.rooms.count}})</h3>

            {% if user_obj.rooms.count %}
                <div class="container mx-auto grid grid-cols-4 gap-x-5 gap-y-10 side-padding mt-20">
                    {% for room in user_obj.rooms.all %}
                        {% include 'mixins/room_card.html' with room=room %}
                    {% endfor %}
                </div>
            {% else %}
                <span class="mt-20">No Rooms Registered</span>
            {% endif %}

        </div>

    </div>

{% endblock content %}
